<h1>Listing usuarios</h1>

<%= form_tag usuarios_path, :method => :get, :remote => true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<ul id="usuarios">
</ul>

<p><%= link_to "New Usuario", new_usuario_path %></p>
